content {
    max-width: 1600px;
      margin: 0 auto;
    }

#background {
    height: 725px;
}

body {
    background-color: white; 
    color: #000000;
}

header {
    background-color:black;
    color: #add8e6;
}

nav a:hover {
    background-color: black;
    color: #add8e6;
}

nav a {
    text-align: center;
    text-decoration: none;
}

.book {
    background-color: white;
    color: #000000;
    text-decoration: none;
}

.join {
    background-color: lightblue;
    color: #000000;
    text-decoration: none;
}

.book:hover {
    background-color: lightblue;
    color: #000000;
}

.join:hover {
    background-color: white;
    color: #000000;
}

.msg {
    background-color: lightblue;
    color: #000000;
}

footer {
    background-color: gray;
    color: #000000;
}

footer a {
    text-align: center;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 1.5em;
}

footer p a:hover {
    text-decoration: underline;
} 

.logo {
    text-align: center;
    width: 80px;
}

.icon {
    text-align: center;
    width: 80px;
}

#hero-img {
    text-align: center;
    width: 100%;
}