body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

head {
    background-color: #396E94;
    grid-column: 1/8;
    grid-row: 1/2;
    width: 100%; 
    height: 100%; 
}

head title {
    margin-top: 25px;
    margin-left: 25px;
}

.side {
    background-color: #191970;
    grid-column: 1/2;
    grid-row: 2/7;
    width: 100%; 
    height: 100%; 
}

.side a {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: lightgrey;
    display: block;
}
  
.side a:hover {
    color: #f1f1f1;
}

.logo {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%; 
    height: 100%; 
}

footer {
    background-color: #d3d3d3;
    grid-column: 2/8;
    grid-row: 7/8;
    width: 100%; 
    height: 100%; 
    text-align: center;
}

nav {
    margin-top: 90px;
    font-size: 1.15em;
}

.words {
    background-color: white;
    grid-column: 2/8;
    grid-row: 2/7;
    width: 100%; 
    height: 100%; 
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.3;
}

.words img {
    float: left;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.section1 {
    height: 200px;
}

.section2 {
    height: 200px;
}
