body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.header {
    background-color: #396E94;
    grid-column: 1/8;
    grid-row: 1/2;
    width: 100%; 
    height: 100%; 
}

.header h1 {
    margin-top: 50px;
    text-align: center;
}

.logo {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%; 
    height: 100%; 
}

.footer {
    background-color: #d3d3d3;
    grid-column: 2/8;
    grid-row: 7/8;
    width: 100%; 
    height: 100%; 
    text-align: center;
}

nav {
    margin-top: 90px;
    font-size: 1.15em;
}

.words {
    background-color: white;
    grid-column: 1/8;
    grid-row: 2/7;
    width: 100%; 
    height: 100%; 
    align-content: center;
    text-align: center;
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.3;
}

.words img {
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.section1 {
    height: 200px;
}

.section2 {
    height: 200px;
}

a {
    margin: 35px;
    text-decoration: none;
}

a:visited {
    color: #191970;
}